<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NVColoredController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>399A45D31C4D4F120086F0B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>399A45E71C4D4F120086F0B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>399A45F21C4D4F120086F0B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
